.wishlist
  //border: 1px dashed #f00
  margin: 0 auto
  width: 80%
  margin-top: 40px
  column-count: 2
  column-width: 7em
  column-gap: 2em
  .thumbnail
    margin-bottom: 2em
    .thumbdes
      text-align: center
      color: black
      padding-top: 5px
      font-size: 0.8em

  img
    width: 100%

