.wishdetail-component
  button
    //background: rgba(1,29,51,1)
    //border: 1px solid rgba(1,29,51,0.1)
    //border-radius: 1em
    //padding: 1em
  .wishdetail
    margin-top: 5em
    width: 100%
    .thumbnail
      //border: 1px solid #f00
      width: 60%
      margin: 0 auto
      border-radius: 4px
      background: #fff
      display: block
      img
        width: 100%


